.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.zero {
  opacity: 0;
  /* transition: all 0.2s 1s; */
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}

.f-blue {
  fill: var(--blue-500) !important;
}
